.containerTitlePage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 94px;
  height: 16px;
  margin: 50px;
}

.arrowRight {
  width: 16px;
  height: 16px;
}

.page {
  font-size: 12px;
  font-weight: 600;
  color: #89939A;
  margin: 0;
}

.containerPage {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.titlePage {
  font-size: 48px;
  font-weight: 800;
  color: #0F0F11;
  margin: 0;
}

.numModele {
  font-size: 14px;
  font-weight: 600;
  color: #89939A;
}

.sortTitle {
  font-weight: 700;
  font-size: 12px;
  color: #89939A;
}

.sort {
  width: 176px;
  height: 40px;
  border: 1px solid #B4BDC3;
  border-radius: 8px;
  color: #B4BDC3;
}

.sortBy {
  font-size: 14px;
  font-weight: 700;
  color: #0F0F11;
}

.containerCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}
