.containerPage {
  display: flex;
  flex-direction: column;
  margin: 50px;
  width: 1200px;
}

.containerTitlePage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 94px;
  height: 16px;
  margin: 50px;
}

.arrowRight {
  width: 16px;
  height: 16px;
}

.page {
  font-size: 12px;
  font-weight: 600;
  color: #89939A;
  margin: 0;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.containerSort {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.titlePage {
  font-size: 48px;
  font-weight: 800;
  color: #0F0F11;
  margin: 0;
}

.numModele {
  font-size: 14px;
  font-weight: 600;
  color: #89939A;
}

.sortTitle {
  font-weight: 700;
  font-size: 12px;
  color: #89939A;
}

.sort {
  width: 176px;
  height: 40px;
  border: 1px solid #B4BDC3;
  border-radius: 8px;
  color: #B4BDC3;
}

.sortBy {
  font-size: 14px;
  font-weight: 700;
  color: #0F0F11;
}

.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 16px;
}

.containerRoundButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  gap: 5px;
}

.buttonRound {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;  width: 32px;
  height: 32px;
  border: 1px solid #B4BDC3;
  background-color: #FFF;
  border-radius: 50%;
}

.buttonRound:hover {
  color: #FFFFFF;
  background-color: #0F0F11;
}
