.containerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  width: 64px;
  height: 64px;
}

.containerBasket {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.containerFavorite {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}



