.containerButtons {
  display: flex;
  justify-content: flex-end;
}

.navigationLink {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  border-left: 1px solid #E2E6E9;
  text-decoration: none;
  box-sizing: border-box;
}

.iconContainer {
  display: block;
  position: relative;
  width: fit-content;
}



