.containerProductsSlider {
  padding: 20px;
  background-color: #FFF;
}

.hotPriceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  gap: 8px;
}

.buttonRound {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;  width: 32px;
  height: 32px;
  border: 1px solid #E2E6E9;
  background-color: #FFF;
  border-radius: 50%;
}

.buttonRound:hover {
  border-color: #B4BDC3;
}

.arrowLeft, .arrowRight {
  display: block;
  width: 10px;
  height: 10px;
  border: solid #B4BDC3;
  border-width: 0 2px 2px 0;
}

.arrowLeft {
  transform: rotate(135deg);
}

.arrowRight {
  transform: rotate(-45deg);
}

.hotPrice {
  font-weight: 800;
  color: #0F0F11;
  font-size: 32px;
}

.productFlex {
  display: flex;
  gap: 20px;
  width: 100%;
}
