.containerStore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.homePage {
  size: 48px;
  color: #0F0F11;
}

.homePageContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
}
