.containerFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  background-color: #FFFFFF;
  box-shadow: 0 -1px 0 #E2E6E9;
  flex-shrink: 0;
}
